*{
  font-family: 'Patua One', cursive;
}

body {
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: url(images/grass.jpg) no-repeat center fixed;
  background-size: cover;
}
 

.maze {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.replay {
  
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  .replay:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
  }
  .replay:active {
    position:relative;
    top:1px;
  }


.instructions{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius:10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.instructions.active {
  transform: translate(-50%, -50%) scale(1)
}

.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.instructions-body{
  padding:10px 15px;

}

.overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none ;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.select-button {
	box-shadow:inset 0px 0px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:14px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  
}
.select-button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.select-button:active {
	position:relative;
	top:1px;
}

.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background: #e4685d;
  z-index: 4;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  font-size: 200px;
  font-weight:100;
  justify-items: center;
  color: white;
  

}

.timer {
  position: absolute;
  width: 250px;
  height: 55px;
  left: 55%;
  top:2%;
  transform: translate(-50%, -50%);
}

#display{
  font-size: 60px;
  color:#3d1f06;
}


   
   