body {
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-image: url(images/grass-background.jpeg)
}
 

.maze {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.instructions{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius:10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.instructions.active {
  transform: translate(-50%, -50%) scale(1)
}

.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.instructions-body{
  padding:10px 15px;


}

.overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none ;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.select-button {
	box-shadow:inset 0px 0px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #292626 100%);
	background-color:#768d87;
	border-radius:5px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.select-button:hover {
	background:linear-gradient(to bottom, #292626 5%, #768d87 100%);
	background-color:#292626;
}
.select-button:active {
	position:relative;
	top:1px;
}

.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background: gold;
  z-index: 4;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  font-size: 50px;
  font-weight:100;
  justify-items: center;
}


.timer {
  position: absolute;
  width: 250px;
  height: 55px;
  left: 50%;
  top:4%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color:#eae0c2;
  border-radius: 15px; 
}

   
   